@model VSEatWebApp.Models.AddCommandeVM

@{
    ViewData["Title"] = "Nouvelle commande";
}

<h1>@Model.Restaurant.Nom</h1>
<h4>@Model.Restaurant.Adresse</h4>

<form asp-action="Add">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.HiddenFor(x => x.RestaurantID)
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Quantité</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DTO.Plat plat in Model.Restaurant.Plats)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(plat.ImageBase64))
                        {
                            <img src="@string.Format("data:image/gif;base64,{0}", plat.ImageBase64)" alt="Photo du plat." border="0" height="100" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(x => plat.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(x => plat.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(x => plat.Prix)
                    </td>
                    <td>
                        <label asp-for="PlatsQuantites" hidden="hidden"></label>
                        <input type="number" min="0" max="99" name="PlatsQuantites[@plat.ID]" value="@Model.PlatsQuantites[plat.ID]" />
                        <span asp-validation-for="PlatsQuantites"></span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group">
        <label asp-for="HeureLivraison" class="control-label">Heure de livraison</label><br />
        @Html.DropDownListFor(x => x.HeureLivraison, new SelectList(Model.HeuresPossibles))
        <span asp-validation-for="HeureLivraison" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Passer la commande" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index" asp-controller="Restaurant">Revenir à la liste des restaurants</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
