@model VSEatWebApp.Models.CommandeVM

@{
    ViewData["Title"] = "Détails de la commande";
}

<h1>Détails de la commande @Model.Commande.ID</h1>

<hr />

<h4>
    @if (Model.EnCours)
    {
        @("En cours")
    }
    else if (Model.Commande.Annule)
    {
        @("Annulée")
    }
    else
    {
        @("Terminée")
    }
</h4>

<hr />

@{await Html.RenderPartialAsync("_Commande", Model);}

<div>
    @if (Model.Action.Display)
    {
        @Html.ActionLink(Model.Action.Action, "Action", new { id = Model.Commande.ID })
    }
</div>

<div>
    <a asp-action="List" asp-controller="Commande" asp-route-status="1">Back to List</a>
</div>
