@model IEnumerable<VSEatWebApp.Models.CommandeVM>

@{
    ViewData["Title"] = "Liste des commandes";
}

<h1>Commandes</h1>

<div class="text-left">
    @Html.ActionLink("Commandes en cours", "List", "Commande", new { status = 1 }) |
    @Html.ActionLink("Commandes terminées", "List", "Commande", new { status = -1 }) |
    @Html.ActionLink("Toutes les commandes", "List", "Commande", new { status = 0 })
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Numéro
            </th>
            <th>
                Heure de la commande
            </th>
            <th>
                Heure de livraison
            </th>
            <th>
                Restaurant
            </th>
            <th>
                Client
            </th>
            <th>
                Staff
            </th>
            <th>
                Statut
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Commande.ID)
                    </td>
                    <td>
                        @(item.Commande.Heure.ToString(ViewData["DateTimeFormat"].ToString()))
                    </td>
                    <td>
                        @if (item.EnCours || item.Commande.Annule)
                        {
                            @(item.Commande.HeureLivraison.ToString(ViewData["DateTimeFormat"].ToString()))
                        }
                        else
                        {
                            @(item.Commande.HeurePaiement.ToString(ViewData["DateTimeFormat"].ToString()))
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Restaurant.Nom)
                    </td>
                    <td>
                        @($"{item.Commande.Client.Prenom} {item.Commande.Client.Nom}")
                    </td>
                    <td>
                        @($"{item.Commande.Staff.Prenom} {item.Commande.Staff.Nom}")
                    </td>
                    <td>
                        @if (item.EnCours)
                        {
                            @("En cours")
                        }
                        else
                        {
                            @("Terminée")
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Détail", "Detail", new { id = item.Commande.ID })
                    </td>
                    <td>
                        @if (item.Action.Display)
                        {
                            @Html.ActionLink(Model.FirstOrDefault().Action.Action, "Action", new { id = item.Commande.ID })
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="9" align="center">
                    Aucune commande correspondant à ces critères.
                </td>
            </tr>
        }
    </tbody>
</table>
